{% extends 'base.html.twig' %}

{% block title %}Panneau d'Administration{% endblock %}

{% block body %}
<h1>Panneau d'Administration</h1>
<div id="contact_container">
    <h4>vous avez {{ contacts | length }} messages : </h4>
    <form action="{{ path('admin_view_message') }}" method="POST" >
        <input type="hidden" name="_token" value="{{ csrf_token('view-message') }}"/>
        <h4>vous avez X messages non lus : </h4>
        
        {% for message in contacts %}
            {% if message.viewed == 0 %}
            <div class="comment">
                <input type="checkbox" name="message[{{message.id}}]">
                <div class="container">
                    <div class="col-3">
                        De : {{ message.lastname }} {{ message.firstname }}
                    </div>
                    <div class="col">
                        Mail : {{ message.mail }}
                    </div>
                    <div class="col">
                        Téléphone : {{ message.phone }}
                    </div>
                    <p class="col">
                        {{ message.content | raw}}
                    <p>
                </div>
            </div>
            {% endif %}
        {% endfor %}

        <button class="btn btn-primary">Actualiser</button>
    </form>
    <hr>
    <form action="{{ path('admin_view_message') }}" method="post">
    <input type="hidden" name="_token" value="{{ csrf_token('view-message') }}"/>
    <h4>vous avez X messages lus : </h4>

    {% for message in contacts %}
    {% if message.viewed == 1 %}
    <div class="comment">
        <input type="checkbox" name="message[{{message.id}}]">
        <div class="container">
            <div class="col-3">
                De : {{ message.lastname }} {{ message.firstname }}
            </div>
            <div class="col">
                Mail : {{ message.mail }}
            </div>
            <div class="col">
                Téléphone : {{ message.phone }}
            </div>
            <p class="col">
                {{ message.content | raw}}
            <p>
        </div>
    </div>
    {% endif %}
    {% endfor %}
    <button class="btn btn-primary">Marquer comme non lu</button>
    </form>
</div>
{% endblock %}